footer.mdl-mega-footer
  .mdl-mega-footer--top-section
    .mdl-mega-footer--left-section
      button.mdl-mega-footer--social-btn.social-btn.social-btn__blogger
      button.mdl-mega-footer--social-btn.social-btn.social-btn__twitter
      button.mdl-mega-footer--social-btn.social-btn.social-btn__gplus
    .mdl-mega-footer--right-section
      a.mdl-typography--font-light(href="#top")= __('Footer.BackToTop')
      i.material-icons expand_less