block variables

- if(typeof title === "undefined"){ title = __("Global.Title") }
- if(typeof description === "undefined"){ description = __("Global.Description") }
- if(typeof cssPath  === "undefined"){ cssPath  = "/public/stylesheets" }
- if(typeof jsPath  === "undefined"){ jsPath  = "/public/javascripts" }
- if(typeof imgPath  === "undefined"){ imgPath  = "/public/images" }