$greyLighter: #f5f5f5;
$greyLight: #e0e0e0;
$greyIron: #dadfe1;
$grey: #bdbdbd;
$greyDark: #424242;
$greyDarker: #212121;

$yellowSandstorm: #F9BF3B;

$redMonza: #CF000F;
$redThunderbird: #D91E18;
$redPomegranate: #c0392b;

$greenJungle: #26C281;
$greenShamrock: #2ECC71;
$greenJade: #00B16A;
$greenSalem: #1E824C;

$blueRoyal: #4183D7;
$blueFacebook: #3b5998;
$blueTwitter: #4099ff;