$greyLighter: #F5F5F5;
$greyLight: #E0E0E0;
$greyIron: #DADFE1;
$grey: #BDBDBD;
$greyDark: #424242;
$greyDarker: #212121;

$yellowSandstorm: #F9BF3B;

$redMonza: #CF000F;
$redThunderbird: #D91E18;
$redPomegranate: #C0392B;

$greenJungle: #26C281;
$greenShamrock: #2ECC71;
$greenJade: #00B16A;
$greenSalem: #1E824C;

$blueRoyal: #4183D7;
$blueFacebook: #3B5998;
$blueTwitter: #4099FF;

$color-bg: #4F8EDB;
$color-primary: rgba(#30508F, 0.3);
$color-primary: #30508F;
$color-white: rgba(white, 0.3);
$color-white: white;
$color-light: #9EB6D7;
$color-lighter: #C8DAF2;
$color-dark: #343C60;
$color-ear: #DE6465;
$color-tongue: $color-ear;